<app-adminnav></app-adminnav>

<style>
    .success-message {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        text-align: center;
    }


    .success-message.active {
        display: block;
    }

    .form-box {
        display: block;
    }


    .form-box.hidden {
        display: none;
    }
</style>

<div>
    <h2>Edit Training</h2>
    <form [formGroup]="editTrainingForm" (ngSubmit)="updateTraining()">
        <div>
            <label for="trainingName">Training Name: </label>
            <input type="text" id="trainingName" formControlName="trainingName" class="form-control">
            <div *ngIf="f.trainingName.invalid && (f.trainingName.touched || f.trainingName.dirty)"
                class="error-message">
                <div *ngIf="f.trainingName.errors?.required">
                    TrainingName is required.
                </div>
            </div>
        </div>
        <div>
            <label for="description">Description: </label>
            <input type="text" id="description" formControlName="description" class="form-control">
            <div *ngIf="f.description.invalid && (f.description.touched || f.description.dirty)" class="error-message">
                <div *ngIf="f.description.errors?.required">
                    Description is required.
                </div>
            </div>
        </div>
        <div>
            <label for="trainerName">Trainer Name:</label>
            <input type="text" id="trainerName" formControlName="trainerName" class="form-control">
            <div *ngIf="f.trainerName.invalid && (f.trainerName.touched || f.trainerName.dirty)" class="error-message">
                <div *ngIf="f.trainerName.errors?.required">
                    TrainerName is required.
                </div>
            </div>
        </div>
        <div>
            <label for="location">Location: </label>
            <input type="text" id="location" formControlName="location" class="form-control">
            <div *ngIf="f.location.invalid && (f.location.touched || f.location.dirty)" class="error-message">
                <div *ngIf="f.location.errors?.required">
                    Location is required.
                </div>
            </div>
        </div>
        <div>
            <label for="isIndoor">Indoor/Outdoor: </label>
            <select id="isIndoor" formControlName="isIndoor" class="form-control">
                <option value="true">Indoor</option>
                <option value="false">Outdoor</option>
            </select>
            <div *ngIf="f.isIndoor.invalid && (f.isIndoor.touched || f.isIndoor.dirty)" class="error-message">
                <div *ngIf="f.isIndoor.errors?.required">
                    isIndoor is required.
                </div>
            </div>
        </div>
        <div>
            <label for="fee">Fee: </label>
            <input type="number" id="fee" formControlName="fee" class="form-control">
            <div *ngIf="f.fee.invalid && (f.fee.touched || f.fee.dirty)" class="error-message">
                <div *ngIf="f.fee.errors?.required">
                    Fee is required
                </div>
                <div *ngIf="f.fee.errors?.minLength">
                    Fee should be greater than 0.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="focusArea">Focus Area: </label>
            <input type="text" id="focusArea" formControlName="focusArea" class="form-control">
            <div *ngIf="f.focusArea.invalid && (f.focusArea.touched || f.focusArea.dirty)" class="error-message">
                <div *ngIf="f.focusArea.errors?.required">
                    FocusArea is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="physicalRequirements">Physical Requirements: </label>
            <input type="text" id="physicalRequirements" formControlName="physicalRequirements" class="form-control">
            <div *ngIf="f.physicalRequirements.invalid && (f.physicalRequirements.touched || f.physicalRequirements.dirty)"
                class="error-message">
                <div *ngIf="f.physicalRequirements.errors?.required">
                    PhysicalRequirements is required.
                </div>
            </div>
        </div>

        <button type="submit">Submit</button>
        <div *ngIf="formSubmitted && editTrainingForm.invalid">*All fields are required</div>
    </form>
</div>

<div class="success-message" id="successMessage" *ngIf="editTrainingForm.valid">
    <p>Successfully Edited!</p>
    <button (click)="closeSuccessMessage()">OK</button>
</div>