.logout-btn {
    background-color: #ff4d4d; 
    color: #fff;
    border: none;
    padding: 10px 20px; 
    font-size: 14px;
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 20px; 
    white-space: nowrap; 
    align-self: center; 
    margin-right: 20px; 
    margin-bottom: 20px;
}

.logout-btn:hover {
    background-color: #ff6666; 
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left; 
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #17a2b8; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
}
.text{
    color: red;
    text-align: center;
}

button:hover {
    background-color: #17a2b8; 
}

.error-message {
    color: red; 
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
}


label:after {
    content: "*";
    color: red;
    margin-left: 2px;
}