<div *ngIf="!getLoginInfo()">
    <nav class="navbar-container">
        <div>
            <h1>FitMentor</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/signup">Sign Up</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
 
<div *ngIf="getLoginInfo()">
    <nav class="navbar-container">
        <div>
            <h1>FitMentor</h1>
        </div>
        <div>
            <ul>
                <li *ngIf="userRole==='admin'|| userRole==='Admin'">
                    <a routerLink="/adminnav">Admin</a>
                </li>
                <li *ngIf="userRole==='user'|| userRole==='User'">
                    <a routerLink="/usernav">User</a>
                </li>
                <li>
                    <button (click)="authService.logout(); router.navigate(['/login']);">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
</div>
 
 