*,
*::before,
*::after {
    box-sizing: border-box;
}

.signup-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 600px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    margin-left: 225px;
    overflow: hidden;
}

.signup-background {
    flex: 1;
    background-image: url('/assets/images/background.webp');
    
    background-size: cover;
    background-position: center;
    height: 100%;
    
}

.signup-form-wrapper {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    overflow-y: auto;
    
    max-height: 100%;
    
}

h3 {
    text-align: center;
    color: #17a2b8;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
   
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
   
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: #aaa;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: -5px;
    
    margin-bottom: 5px;
    
}

.login-link {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.modal-content button {
    margin-top: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.testi {
    color: black;
}


.okbtn {
    background-color: #17a2b8;
    width: 100px;
    height: 40px;
    border-radius: 5px; 
    border:none;
}