<p>Privacy Policy for FitMentor</p>

<p>We at FitMentor know that you as a user ('You', 'Your', ‘User(s)’) care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our privacy policy. By visiting or using our website (www.fitmentor.com) and domain name, and any other linked pages, features, content, mobile applications, or any other services we offer from time to time in connection therewith (collectively, the 'Mobile App'), or by using the Services / Products (as defined in our Terms of Use) in any manner, you acknowledge that you accept, and are subject to, the practices and policies outlined in this privacy policy.</p>

<p>This Privacy Policy is published in compliance with inter alia:</p>

<ul>
  <li>(a) Section 43A of the Information Technology Act, 2000;</li>
  <li>(b) Regulation 4 of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (“SPDI Rules”); and</li>
  <li>(c) Regulation 3 of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021.</li>
</ul>

<p>What does this privacy policy cover?</p>

<p>This privacy policy deals with our treatment of personally identifiable information ('personal information') that we gather when you are availing, accessing, or using our Mobile App for availing third-party Products and Services including Fitness Services, or otherwise visiting clinics, fitness centers, gyms, or other physical premises.</p>

<p>This policy does not deal with the policies or practices of companies that we do not own or control (including our franchisees), or to individuals that we do not employ.</p>

<p>By visiting our Platform, downloading the Mobile App, purchasing Products via the Platform, or subscribing for, or availing of Fitness Services you consent to the collection, use, sharing, disclosure, and processing of Your personal information by FitMentor and each of the sellers/service providers on the Platform (collectively, 'We', 'Us', 'Our') in accordance with the terms of this Privacy Policy or as otherwise required by, or permitted under, applicable law.</p>

<p>We do not knowingly collect or solicit personal information from anyone under the age of 18 or knowingly allow such persons to register for the Products or Services, including Fitness Services, or otherwise visit clinics, fitness centers, gyms, or other physical premises. If you are under 18, please do not attempt to register for the Products or Services, including Fitness Services, or visit clinics, fitness centers, gyms, or other physical premises, or send any information about yourself to us. No one under the age of 18 may provide any personal information to us. In the event that we learn that we have collected personal information from a child under age 18 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 18, please contact us at support@fitmentor.com or our Grievance Officer.</p>

<p>What information do we collect?</p>

<p>We collect the following types of information:</p>

<p>Information you provide to us:</p>
<p>We receive and store any information you knowingly provide to us, including:</p>

<ul>
  <li>Personal information collected at the time of your registration on the Mobile App/website, including your name, username, email address, gender, birth date, height, location;</li>
  <li>Personal information and SPDI (where necessary) collected for the provision of the Services on the Mobile App/website, including your nutrition data, dietary and lifestyle information, information related to height, weight, and body measurements, passwords, workout-related data (including outputs from your device camera for “live energy” tracking or conducting live workout sessions), physical activity, photographs, biometric information, genetic information, race and ethnicity-related information, family-related information (to the extent necessary for the effective provision of Services), sleep habits; and other sleep, activity, or health-related information and insights for our Services and Products;</li>
  <li>Bank details for payment processing;</li>
  <li>Details about your health, mental wellbeing, disabilities, or other health-related information such as vaccination status, past and present medical information, all collected for the safety of our other users and premises that they access, the discharge of our duties as an employer, or to provide certain benefits;</li>
  <li>Data in your mobile address book to help users find other users who have enabled ‘squads’ and set their profiles as public. We do not otherwise process information from the address book for any other purpose;</li>
  <li>Information relating to your access and usage of premises, and sessions, including workouts, number of activities and users, data collected at our reception desks and kiosks, CCTV footage for common areas collected in accordance with applicable CCTV policy.</li>
</ul>

<p>Purpose and Use of information</p>

<p>We, our affiliates and/or the sellers or service providers on the Mobile App may access and use your Personal Information and SPDI for the following purposes:</p>

<ol>
  <li>Provision of the Products and Services on the Website and the Mobile App including optimizing, or further developing/improving operation of the Platform or providing better user experience;</li>
  <li>To contact you in relation to Products and Service offerings on the Platform, including pursuant to current or future collaborations with third-party service providers;</li>
  <li>General business and operating purposes, such as the administration, management and operation of the business, including client/user interaction, responding to requests, customizing, and improving our Services;</li>
  <li>For payment, billing, and invoicing related purposes;</li>
  <li>To generate aggregated data to prepare insights (not being SPDI) to enable us to understand patterns and trends with a view to learn more about your preferences or other characteristics;</li>
  <li>Compliance with our obligations under applicable laws and other regulations, including to protect against and prevent fraud and other legal or information security risks; and</li>
  <li>To serve other purposes for which we provide specific notice at the time of collection, and as otherwise authorized or for any other lawful purpose.</li>
</ol>

<p>Changes to this privacy policy</p>

<p>We may amend this privacy policy from time to time. Use of information we collect now is subject to the privacy policy in effect at the time such information is used. If we make changes in the way we use personal information, we will notify you by posting an announcement on our Mobile App or sending you an email. You are bound by any changes to the privacy policy when you use the Mobile App, Product or Service after such changes have been first posted.</p>

<p>Last Updated on 11th October 2023</p>

<p>Copyright © All rights reserved</p>
