<nav class="navbar-container">
    <div>
        <h1>FitMentor</h1>
    </div>
    <div>
        <ul>
            <li>
                <button class="btn" routerLink="/home">Home</button>
            </li>
            <li>
                <button class="btn" routerLink="/login">Login</button>
            </li>
            <li>
                <button class="btn" routerLink="/signup">Sign Up</button>
            </li>
            <li>
                <button class="btn" routerLink="/about">About Us</button>
            </li>
        </ul>
    </div>
</nav>
 
<section class="about-us-container">
    <div class="about-us">
        <h2>About Us</h2>
        <div class="about">
            <p>
                <strong> Welcome to FitMentor</strong> -
                FitMentor is dedicated to empowering individuals and fitness centers with personalized fitness plans,
                nutritional guidance, and progress tracking.
                Our mission is to create a supportive community where everyone can achieve their fitness goals and lead a
                healthy, fulfilling life.
                By leveraging the latest technology and fostering community engagement, we aim to be a leader in the fitness
                industry.
                At FitMentor, we believe that a healthy lifestyle is the foundation of a happy and fulfilling life.
                Our mission is to empower individuals and fitness centers with the
                tools and support they need to reach their fitness goals.
                Join us on this journey to a healthier you!
            </p>
        </div>
    </div>
</section>
 
<section class="team-container">
    <div class="team">
        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="/assets/images/Designer (3).jpeg" alt="Bhargavi">
                <h3>Bhargavi</h3>
                <h3>Project Lead</h3>
            </div>
            <div class="team-member">
                <img src="/assets/images/Designer (2).jpeg" alt="Devesh">
                <h3>Devesh</h3>
                <h3>Backend Developer</h3>
            </div>
            <div class="team-member">
                <img src="/assets/images/Designer (3).jpeg" alt="Manisha">
                <h3>Manisha</h3>
                <h3>Frontend Developer</h3>
            </div>
            <div class="team-member">
                <img src="/assets/images/Designer (2).jpeg" alt="Nikhil">
                <h3>Nikhil</h3>
                <h3>UI/UX Designer</h3>
            </div>
            <div class="team-member">
                <img src="/assets/images/Designer (2).jpeg" alt="Gnaneshwar">
                <h3>Gnaneshwar</h3>
                <h3>Database Administrator</h3>
            </div>
        </div>
    </div>
</section>
 
 
 
<section class="contact-us-container">
    <div class="contact-us">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <p><strong>Email:</strong> support@fitmentor.com</p>
            <p><strong>Phone:</strong> +91 9949594908</p>
            <p><strong>Address:</strong> plot-no:24,sector 20, mahape, Navi Mumbai</p>
        </div>
    </div>
   
</section>
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.1101491!2d73.03072!3d19.1101491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2z19.1101491!5e0!3m2!1sen!2sin!4v1677264054567!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
 
 
 
 
 